@charset "UTF-8";
@import './variables.scss';
@import './componentWidth.scss';

.root {
  border: solid 2px $color-accent;
  margin: 0 auto;
  &:hover {
    border: solid 2px $font-focus;
    font-weight: bold;
  }
}
