@charset "UTF-8";
@import './variables.scss';
@import './componentWidth.scss';

.root {
  border: solid 2px darken($color-accent, 15%);
  margin: 0 auto;
  &:hover {
    border: solid 2px $color-focus;
    font-weight: bold;
  }
}
