@charset "UTF-8";
@import './variables.scss';
.root {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 17;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;

  .oneScreen {
    width: 20vw;
    margin-top: 4vh;
    margin-bottom: 6vh;
  }
  .fullScreen {
    margin-top: 4vh;
    margin-bottom: 6vh;
  }
}
