@charset "UTF-8";
@import './variables.scss';

%employeeRoot {
  position: absolute;
  width: 80px;
  height: 80px;
  border: solid 2px whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mine {
  @extend %employeeRoot;
  z-index: 15;
  .icon {
    color: red;
  }
}

.coworker {
  @extend %employeeRoot;
  z-index: 9;
  .icon {
    color: blue;
  }
}
