@charset "UTF-8";
@import './variables.scss';

%employeeRoot {
  position: absolute;
  width: 80px;
  height: 80px;
  border: solid 2px whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  .hover {
    position: absolute;
    width: 15rem;
    padding: 1rem;
    background-color: antiquewhite;
    opacity: 0.7;
    text-align: middle;
    margin: 0 auto;
    p {
      font-size: 12px;
      padding-top: 8px;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.mine {
  @extend %employeeRoot;
  z-index: 15;
  .icon {
    color: red;
  }
}

.coworker {
  @extend %employeeRoot;
  z-index: 9;
  .icon {
    color: blue;
  }
}
