@charset "UTF-8";
@import './variables.scss';

%employeeRoot {
  position: absolute;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  .hover {
    position: absolute;
    width: 15rem;
    padding: 1rem;
    background-color: antiquewhite;
    opacity: 0.7;
    text-align: middle;
    margin: 0 auto;
    p {
      font-size: 12px;
      padding-top: 8px;
      margin: 0 auto;
      text-align: center;
    }
  }
  .icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px gray solid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
  }
  .cursor {
    z-index: 16;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
}

.mine {
  @extend %employeeRoot;
  z-index: 15;
}

.mineSensor {
  background-color: rgba($color: skyblue, $alpha: 0.5);
}

.coworker {
  @extend %employeeRoot;
  z-index: 9;
}
.coworkerSensor {
  background-color: rgba($color: gray, $alpha: 0.5);
}
