@charset "UTF-8";
@import './variables.scss';

%furnitureRoot {
  border-width: 1px;
  box-sizing: border-box;
}

.new {
  @extend %furnitureRoot;
  position: absolute;
  z-index: 8;
  border-width: 2px;
}

.update {
  @extend %furnitureRoot;
  position: absolute;
  z-index: 8;
  border-width: 2px;
}

.exist {
  @extend %furnitureRoot;
  position: absolute;
  z-index: 6;
  .hover {
    position: absolute;
    width: 15rem;
    padding: 1rem;
    background-color: antiquewhite;
    opacity: 0.7;
    text-align: middle;
    p {
      font-size: 12px;
      padding-top: 8px;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.white {
  background-color: darken(white, 15%);
  border: solid darken(white, 30%);
}
.black {
  background-color: lighten(black, 50%);
  border: solid lighten(black, 35%);
}
.red {
  background-color: lighten(red, 30%);
  border: solid lighten(red, 15%);
}
.blue {
  background-color: lighten(blue, 30%);
  border: solid lighten(blue, 15%);
}
.yellow {
  background-color: lighten(yellow, 40%);
  border: solid lighten(yellow, 15%);
}
.green {
  background-color: lighten(green, 50%);
  border: solid lighten(green, 15%);
}
