@charset "UTF-8";
@import './variables.scss';

%furnitureRoot {
  border-width: 1px;
  box-sizing: border-box;
}

.new {
  @extend %furnitureRoot;
  position: absolute;
  z-index: 8;
  border-width: 2px;
  box-shadow: 0 10px 25px 0 rgba(red, 0.5);
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.update {
  @extend %furnitureRoot;
  position: absolute;
  z-index: 8;
  border-width: 2px;
  box-shadow: 0 0 30px 0 rgba(red, 0.5);
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.exist {
  @extend %furnitureRoot;
  position: absolute;
  z-index: 6;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .name {
    text-align: center;
    color: black;
    font-weight: bold;
    opacity: 0.5;
  }
  &:hover {
    .hover {
      display: block;
    }
  }
  &:hover {
    .virtualHover {
      display: block;
    }
  }
  .hover {
    pointer-events: auto;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 15rem;
    height: 10rem;
    overflow-y: scroll;
    padding: 1rem;
    background-color: $color-sub;
    opacity: 0.7;
    text-align: middle;
    p {
      white-space: pre-wrap;
      font-size: 12px;
      padding-top: 8px;
      margin: 0 auto;
      text-align: center;
    }
    .isCloseMsg {
      font-weight: bold;
    }
  }
  .virtualHover {
    pointer-events: auto;
    display: none;
    position: absolute;
    width: 5rem;
    height: 3rem;
    overflow-y: scroll;
    padding: 3px;
    background-color: $color-sub;
    opacity: 0.5;
    text-align: middle;
    p {
      white-space: pre-wrap;
      font-size: 5px;
      padding-top: 4px;
      margin: 0 auto;
      text-align: center;
    }
    .isCloseMsg {
      font-weight: bold;
    }
  }
}

.white {
  background-color: darken(white, 15%);
  border: solid darken(white, 30%);
}
.black {
  background-color: lighten(black, 50%);
  border: solid lighten(black, 35%);
}
.red {
  background-color: lighten(red, 30%);
  border: solid lighten(red, 15%);
}
.blue {
  background-color: lighten(blue, 30%);
  border: solid lighten(blue, 15%);
}
.yellow {
  background-color: lighten(yellow, 40%);
  border: solid lighten(yellow, 15%);
}
.green {
  background-color: lighten(green, 50%);
  border: solid lighten(green, 15%);
}
