@charset "UTF-8";
@import './variables.scss';
.root {
  display: flex;
  padding: 15px;
  height: 60vh;
  justify-content: space-between;
  background-color: $color-base;

  .form {
    margin-right: 30px;
    padding: 15px;
    overflow-y: scroll;
  }
  .virtualArea {
    margin: 0 auto;
    background-color: $color-sub;
    width: 600px;
    height: 300px;
    border: 1px $color-accent solid;
  }
}
.delete {
  display: flex;
  flex-direction: row-reverse;
}
