@charset "UTF-8";
@import './variables.scss';
.root {
  height: 100vh;
  background-color: $color-base;
  .header {
    width: 100%;
    height: 13vh;
    background-color: $color-accent;
  }
  .main {
    margin: 0 auto;
    display: flex;
  }
  .menuArea {
    height: 100%;
    width: 30%;
    padding: 20px;
  }
  .contentArea {
    background-color: $color-base;
    height: 100%;
    width: 100%;
    padding: 20px;
  }
}
