@charset "UTF-8";
@import './variables.scss';
.root {
  border: blue 1px solid;
  .inviteTest {
    height: 10vh;
    display: flex;
    border: green 1px solid;
  }
  .showEmployeesArea {
    position: relative;
    width: 2000px;
    height: 1500px;
    border: red 1px solid;
    background-color: bisque;
  }
}
