@charset "UTF-8";
@import './variables.scss';
.root {
  width: 33rem;
  display: flex;
  justify-content: flex-start;
}
.deport {
  display: flex;
  flex-direction: row-reverse;
  .icon {
    width: 20px;
    height: 20px;
  }
}
