@charset "UTF-8";
@import './variables.scss';
.root {
  .showEmployeesArea {
    position: relative;
    width: 2400px;
    height: 1200px;
    background-color: $color-base;
    margin-bottom: 6vh;
  }
}
