@charset "UTF-8";
@import './variables.scss';

.root {
  position: absolute;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: gray;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 7;
}
