@charset "UTF-8";
@import './variables.scss';
.root {
  display: block;
  margin-top: 4vh;
  margin-bottom: 6vh;
  width: 100%;
  .row {
    display: flex;
    margin: 0;
    padding: 0;
  }
  .fewRow {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .attentionRow {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
