@charset "UTF-8";
@import './variables.scss';
.root {
  height: 100vh;
  background-color: $color-base;
  .main {
    width: $width-base;
    margin: 0 auto;
    display: flex;
  }
  .contentArea {
    width: 700px;
  }
  .formArea {
    width: 400px;
  }
}
